/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {  
    font-family: 'Roboto', sans-serif;
    color: #444;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.logo img {
    width: 211px;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in button {
    border-style: none;
}

input[type="text"], input[type="email"], input[type="password"]{
    padding: 0.5rem;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* A media rem é dinâmica para mobile/desktop. É uma medida relativa ao tamanho da página */
section {
    padding: 3rem 0 4rem 0;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
}

h1.title {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

.gray {
    background-color: #f7f7f7;
}

.container {    
    max-width: 1000px;
    margin: auto;
    padding: 0 1rem;
}

.hero {
    width: 60%;
    margin: auto;
}

.intro p {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 100;
}

.intro .cta {
    margin: 2rem 0;
}

.button {
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}

.primary {
    background-color: #3388f3;
    color: white;
}

.primary:hover {
    cursor: pointer;
    transform: scale(0.98);
    filter: brightness(110%);
    }


.secondary {
    background-color: white;
    color: #444;
}

.secondary:hover {
   color: lightslategrey;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.7rem;

    height: 150px;
    width: 18%;
    border-radius: 10px;    
 }

 .card:hover {
    transition: ease 250ms;
    opacity:0.5;
    cursor: pointer;
 
 }

.card.red {
    background-color: #ec454e;
}
.card.blue {
    background-color: #42b0f8;
}

.card.purple {
    background-color: #9e69d5;
}

.card.yellow {
    background-color: #f4a823;
}

.card.green {
    background-color: #3cbfa1;
}

.members {
    display: flex;
    justify-content: space-between;
}

.member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.member:hover{
    transition: ease 250ms;
    opacity:0.75;
    cursor: pointer;

}

footer {
    background-color: #3388f3;
}

footer ul{
    display: flex;
    justify-content: space-evenly;

    padding-top: 3rem;
    list-style-type: none;    
}

footer a {
    text-decoration: none;
    color: white;
}

footer p.copyright {
    padding: 3rem;
    margin: auto;
    text-align: center;
    color: #ffffffdd;
}